.field {
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  &__label {
    color: var(--color-light);
    font-size: 16px;
  }

  &__input {
    height: var(--input-height);
    background-color: transparent;
    border: var(--border-input);
    border-radius: var(--border-radius-input);
    padding-inline: 16px;
    color: var(--color-light);
    font-size: 14px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__forgot-link {
    color: var(--color-light);
    font-size: 16px;

    @include hover {
      color: var(--color-accent);
    }
  }
}