.modal-login {
  padding: 10px;
  min-width: 540px;
  min-height: 456px;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--color-background-modal);

  @include tablet {
    min-width: 300px;
  }

  &__close-button-wrapper {
    display: flex;
    justify-content: end;
  }

  &__form {
    padding-inline: 70px;
    padding-bottom: 30px;

    @include tablet {
      padding-inline: 40px;
    }

    @include mobile {
      padding-inline: 15px;
    }

    &-title {
      color: var(--color-light-alt);
      font-size: 28px;
      line-height: 100%;
      margin-bottom: 32px;
    }
  }

  &__field {
    margin-bottom: 24px;
  }

  &__submit-button {
    width: 100%;
  }
}